In [1]:
import pandas as pd

happiness_df = pd.read_parquet("happiness_rank_score_by_country_2022.parquet").drop([146]).rename(columns={"country": "Country Name", "score": "happiness_score", "rank": "happiness_rank"})
happiness_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146 entries, 0 to 145
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country Name     146 non-null    object
 1   happiness_rank   146 non-null    int64
 2   happiness_score  146 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 3.5+ KB

In [2]:
countries_and_capitals_localization_html = "http://techslides.com/list-of-countries-and-capitals"
countries_and_capitals_localization = pd.read_html(countries_and_capitals_localization_html, header=0)[0]

not_included = [
    ["Ivory Coast", "Yamoussoukro", "6.8205500", "-5.2767400", "CI", "Africa"],
    ["Eswatini", "Mbabane", "-26.31667", "31.13333", "SZ", "Africa"],
    ["North Macedonia", "Skopje", "41.99646", "21.43141", "MK", "Europe"]
               ]
columns = ["Country Name", "Capital Name", "Capital Latitude", "Capital Longitude", "Country Code", "Continent Name"]
not_included = pd.DataFrame(not_included, columns=columns)
countries_and_capitals_localization = pd.concat([countries_and_capitals_localization, not_included]).sort_values("Country Name")

countries_and_capitals_localization.tail()

,Country Name,Capital Name,Capital Latitude,Capital Longitude,Country Code,Continent Name
240,Wallis and Futuna,Mata-Utu,-13.95,-171.933333,WF,Australia
241,Western Sahara,El-AaiÃºn,27.153611,-13.203333,EH,Africa
242,Yemen,Sanaa,15.35,44.2,YE,Asia
243,Zambia,Lusaka,-15.416667,28.283333,ZM,Africa
244,Zimbabwe,Harare,-17.816667,31.033333,ZW,Africa

In [3]:
countries_and_capitals_localization.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 248 entries, 0 to 244
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country Name       248 non-null    object
 1   Capital Name       244 non-null    object
 2   Capital Latitude   248 non-null    object
 3   Capital Longitude  248 non-null    object
 4   Country Code       245 non-null    object
 5   Continent Name     248 non-null    object
dtypes: object(6)
memory usage: 13.6+ KB

In [7]:
happiness_df["Country Name"].replace({
    "Czechia": "Czech Republic",
    "Taiwan Province of China": "Taiwan",
    "North Cyprus": "Cyprus",
    "Hong Kong S.A.R. of China": "Hong Kong",
    "Gambia": "The Gambia",
    "Congo": "Democratic Republic of the Congo",
    "Palestinian Territories": "Palestine",
    "Eswatini, Kingdom of": "Eswatini",
}, inplace=True)

In [8]:
countries_and_capitals_localization.merge(happiness_df, on="Country Name", how="inner")

,Country Name,Capital Name,Capital Latitude,Capital Longitude,Country Code,Continent Name,happiness_rank,happiness_score
0,Afghanistan,Kabul,34.516667,69.183333,AF,Asia,146,2.4038
1,Albania,Tirana,41.316667,19.816667,AL,Europe,90,5.1988
2,Algeria,Algiers,36.75,3.05,DZ,Africa,96,5.1223
3,Argentina,Buenos Aires,-34.583333,-58.666667,AR,South America,57,5.9670
4,Armenia,Yerevan,40.166667,44.5,AM,Europe,82,5.3986
...,...,...,...,...,...,...,...,...
141,Venezuela,Caracas,10.483333,-66.866667,VE,South America,108,4.9255
142,Vietnam,Hanoi,21.033333,105.85,VN,Asia,77,5.4850
143,Yemen,Sanaa,15.35,44.2,YE,Asia,132,4.1969
144,Zambia,Lusaka,-15.416667,28.283333,ZM,Africa,137,3.7598
145,Zimbabwe,Harare,-17.816667,31.033333,ZW,Africa,144,2.9951